
body {
  background-color: #898884;
}

#header {
  padding-top: 20px;
  background-color: #0091EA;
  margin-bottom: 35px;
  height: 110px;
  border-bottom: 1px solid #1c4679;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  color: whitesmoke;
}

#MD {
  font-size: 80px;
  display: inline;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 20px;
}

#md-editor {
  margin-left: 5px;
  display: inline;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#lets-greek {
  position: relative;
  float: right;
  border-radius: 50%;
  border: 2px solid #FFA000;
  padding-right: 5px;
  padding-left: 7px;
  padding-bottom: 7px;
  padding-top: 2px;
  margin-right: 22px;
  margin-top: -7px;
  box-shadow: 3px 3px 3px  rgba(0,0,0,.2);
  color: #AEEA00;
}

#editor-heading {
  background-color: #AEEA00;
  text-align: center;
  padding-top: 1px;
  margin-left: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 30px;
  margin-top: 5px;
  box-shadow: 5px 0 4px rgba(0, 0, 0, 0.3);
}

#preview-heading {
  background-color: #FFA000;
  text-align: center;
  padding-top: 1px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 30px;
  margin-top: 5px;
  box-shadow: 5px 0 4px rgba(0, 0, 0, 0.3);
}

#editor {
  background-color: whitesmoke;
  padding: 15px;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: scroll;
  margin-left: -10px;
  outline: none;
  border-style: none;
  border-radius: 8px;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.3);
}

#preview {
  padding: 15px;
  overflow: scroll;
  overflow-wrap: break-word;
  background-color: whitesmoke;
  margin-right: -10px;
  border-radius: 8px;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.3);
  min-height: 570px;
  max-height: 570px;
}